# Project information
site_name: BST235 Computing
site_url: https://junwei-lu.github.io/bst236/
site_description: "BST236 Computing"
docs_dir: build/docs
site_dir: site
# Repository
edit_uri: tree/main/docs
version: 1.0.0


# Copyright
copyright: Junwei Lu, Department of Biostatistics, Harvard T.H. Chan School of Public Health.

# Configuration
theme:
  name: material
  custom_dir: build/overrides
  language: en
  features:
    - announce.dismiss
    #- content.action.edit
    # - content.action.view
    - content.code.annotate
    - content.code.copy
    - content.tabs.link
    - content.tooltips
    # - header.autohide
    # - navigation.expand
    - navigation.indexes
    # - navigation.instant
    # - navigation.prune
    # - navigation.sections
    # - navigation.tabs
    # - navigation.tabs.sticky
    - navigation.top
    - navigation.footer
    - navigation.tracking
    - search.highlight
    - search.share
    - search.suggest
    - toc.follow
    # - toc.integrate
  palette:
    - scheme: default
      primary: white
      accent: teal
      toggle:
        icon: material/theme-light-dark
        name: Light mode
    - scheme: slate
      primary: black
      accent: teal
      toggle:
        icon: material/theme-light-dark
        name: Light mode
  font:
    text: Noto Sans SC
    code: Fira Code
  favicon: assets/images/favicon-stat.png
  logo: assets/images/stat-logo.svg
  icon:
    logo: logo
    repo: fontawesome/brands/github
    edit: fontawesome/regular/pen-to-square

extra:
  #alternate:
    #- name: English
      #link: /
      #lang: en
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/junwei-lu/
    #  - icon: fontawesome/brands/x-twitter
    #   link: https://twitter.com/
    - icon: fontawesome/solid/code
      link: https://junwei-lu.github.io/
  generator: false
  #status:
  #  new: 

# Plugins
plugins:
  - search
  - glightbox:
      touchNavigation: true
      loop: false
      effect: zoom
      slide_effect: none
      width: 100%
      height: auto
      zoomable: true
      draggable: false
      auto_caption: false
      caption_position: bottom

# Extensions
markdown_extensions:
  - abbr
  - admonition
  - attr_list
  - def_list
  - footnotes
  - md_in_html
  - toc:
      permalink: true
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.details
  # - pymdownx.emoji:
  #     emoji_index: !!python/name:materialx.emoji.twemoji
  #     emoji_generator: !!python/name:materialx.emoji.to_svg
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.keys
  # - pymdownx.magiclink:
  #     repo_url_shorthand: true
  #     user: squidfunk
  #     repo: mkdocs-material
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde

extra_javascript:
  - javascripts/mathjax.js
  - https://cdnjs.cloudflare.com/ajax/libs/mathjax/3.2.2/es5/tex-mml-chtml.min.js
  # - javascripts/katex.js 
  # - https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.16.7/katex.min.js  
  # - https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.16.7/contrib/auto-render.min.js

extra_css:
  - stylesheets/extra.css
  # - https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.16.7/katex.min.css

# Page tree
nav:
  - Course Information:
    - chapter_syllabus/index.md
  - Chapter. Introduction:
    - chapter_preface/index.md
    - About this course: chapter_preface/about_the_course.md
  - Chapter. Basics of Coding:
    - chapter_coding/index.md
    - Principles: chapter_coding/code_principle.md
    - Code in Style: chapter_coding/coding_style.md
    - AI Copilot: chapter_coding/ai_copilot.md
  - Chapter. Computing Workflow:
    - chapter_workflow/index.md
    - Workflow: chapter_workflow/computing_workflow.md
    - Git and GitHub: chapter_workflow/git.md
    - Make: chapter_workflow/make.md
    - Virtual Environment: chapter_workflow/venv.md
    - Reproducible R: chapter_workflow/R.md
    - Docker: chapter_workflow/docker.md
  - Chapter. Data Structures:
    - chapter_data_structures/index.md
    - Lists: chapter_data_structures/list.md
    - Stack: chapter_data_structures/stack.md
    - Queue: chapter_data_structures/queue.md
    - Hash Map: chapter_data_structures/hash_map.md
    - NumPy Arrays: chapter_data_structures/numpy_array.md
    - Pandas DataFrame: chapter_data_structures/pandas_dataframe.md
    - Polars: chapter_data_structures/polars.md
    - Multiprocessing: chapter_data_structures/multiprocess.md
  - Chapter. Complexity analysis:
    - chapter_computational_complexity/index.md
    - Iteration and recursion: chapter_computational_complexity/iteration_and_recursion.md
    - Time complexity: chapter_computational_complexity/time_complexity.md
    - Space complexity: chapter_computational_complexity/space_complexity.md
  - Chapter. Algorithms:
    - chapter_algorithms/index.md
    - Depth-first Search: chapter_algorithms/climb_stairs.md
    - Divide and Conquer: chapter_algorithms/divide_n_conquer.md
    - Breadth-first Search: chapter_algorithms/bfs.md
    - Dynamic Programming: chapter_algorithms/dynamic_programming.md
    - Summary: chapter_algorithms/summary.md
  # - Chapter. Dynamic programming:
  #   - chapter_dynamic_programming/index.md
  #   - Introduction to dynamic programming: chapter_dynamic_programming/intro_to_dynamic_programming.md
  #   - Characteristics of DP problems: chapter_dynamic_programming/dp_problem_features.md
  #   - DP problem-solving approach: chapter_dynamic_programming/dp_solution_pipeline.md
  #   - 0-1 Knapsack problem: chapter_dynamic_programming/knapsack_problem.md
  #   - Unbounded knapsack problem: chapter_dynamic_programming/unbounded_knapsack_problem.md
  #   - Edit distance problem: chapter_dynamic_programming/edit_distance_problem.md
  #   - Summary: chapter_dynamic_programming/summary.md
  - Appendix:
    - chapter_appendix/index.md
    - Installation: chapter_appendix/installation.md
    - Github Classroom: chapter_appendix/github.md
    - Contributing: chapter_appendix/contribution.md
    # - Terminology: chapter_appendix/terminology.md
  - References:
    - chapter_reference/index.md
